@import '../styles/variables.css';

/* Main container for score page */
.score-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: var(--background-light);
  margin-top: 0;
}

.logo {
  width: 70px;
  margin-bottom: 10px;
}

.score-page h1 {
  font-size: 2rem;
  margin: 0 0 10px;
  text-align: center;
  color: var(--primary-color);
}

/* Grid container for cat items */
.cat-grid {
  margin-top: -124px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 30px;
}

/* Individual cat item styling */
.cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-cat-item);
  padding: var(--cat-item-padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
  text-align: center;
  transition: transform 0.2s;
  position: relative;
}

/* Image styling */
.cat-image-score {
  width: 238px !important;
  height: 188px !important;
  border-radius: var(--border-radius);
  object-fit: cover;
  margin-bottom: 53px;
  margin-top: 48px;
}

.cat-name,
.cat-score {
  font-weight: bold;
}

.cat-name {
  font-size: var(--font-size-small);
  color: var(--text-color-dark);
}

.cat-score {
  font-size: 1rem;
  color: var(--primary-color);
}

.back-button-container {
  margin-top: 20px;
}

/* Button styles */
.back-button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: var(--secondary-color);
}

.match-count {
  margin-top: 10px;
  font-size: 1rem;
  color: var(--primary-color);
}

/* Podium styles */
.first {
  grid-column: 2 / 3;
  background-color: var(--podium-first);
  color: var(--text-color-light);
  transform: translateY(373px);
  height: 377px;
}

.second {
  grid-column: 1 / 2;
  background-color: var(--podium-second);
  color: var(--text-color-light);
  transform: translateY(-18px);
}

.third {
  grid-column: 3 / 4;
  background-color: var(--podium-third);
  color: var(--text-color-light);
  transform: translateY(-10px);
  height: 332px;
  font-size: 0.9rem;
}

/* Style for rank numbers with a white circle for the top 3 */
.cat-rank {
  font-size: var(--font-size-large);
  font-weight: bold;
  background: transparent;
  position: absolute;
  top: 13px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* Specific styles for podium ranks */
.first .cat-rank,
.second .cat-rank,
.third .cat-rank {
  border: 2px solid var(--circle-border-color);
  color: var(--text-color-light);
}

/* Styles for non-podium cats */
.cat-item:not(.first):not(.second):not(.third) .cat-rank {
  border: 2px solid var(--podium-first);
  color: var(--podium-first);
}

.first .cat-name,
.second .cat-name,
.third .cat-name,
.first .cat-score,
.second .cat-score,
.third .cat-score {
  color: var(--text-color-light);
}

/* Floating button styling */
.centered-floating-button {
  width: 235px;
  height: 60px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color-light);
  padding: 20px 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  box-shadow: var(--box-shadow-button);
  transition: background-color 0.3s;
  z-index: 1000;
  background-color: var(--button-background);
}

.centered-floating-button:hover {
  background-color: var(--button-hover-background);
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
  .cat-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .first,
  .second,
  .third {
    grid-column: auto;
    transform: translateY(0);
    height: auto;
  }

  .score-page h1 {
    font-size: 1.5rem;
  }
}
