.vote-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f9fafb;
}

.vote-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.cat-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
}

.cat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  background-color: #f3f4f6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 220px;
  max-height: 280px;
}

.cat-image-container {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid #374151;
  background-color: #fff;
}

.cat-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vote-button-container {
  position: absolute;
  top: -15px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-button {
  color: #ffffff;
  background-color: #1e3a8a;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
}

.score-button:hover {
  background-color: #374151;
}
