@import '../styles/variables.css';

/* Full-screen loader overlay */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.loader-cat {
  width: 100px;
  height: 100px;
  animation: miaou 1s infinite alternate;
}

.loader-text {
  font-size: var(--font-size-small);
  color: var(--primary-color);
  margin-top: 10px;
  animation: fade 1s infinite alternate;
}

/* Keyframe for cat "bouncing" effect */
@keyframes miaou {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-10px) scale(1.1);
  }
}

/* Keyframe for text pulsing opacity */
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
